
body{
    background-color: #222831; font-family: system-ui; color: #EEEEEE;
    margin: 0;
}
hr{
    border-top-color: #737d8c;
    background-color: transparent;
    border-width: 10px;
    border-top-style: dotted; 
    border-left-style: none; 
    border-right-style: none;   
    border-bottom-style: none;  
    width: 10%;  
    margin-right: 100%;
}
h1{
    color: #00ADB5;
}
h2{
    color: #00ADB5;
}
a{
    color: #80bfff;
}
table{
    background-color: #393E46;
    width: 100%;
}
div{
    margin: 2em;
}